@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
	/*primary*/
	--Dark-cyan: hsl(158, 36%, 37%); /*verde*/
	--Cream: hsl(30, 38%, 92%);
	/*neutral*/
	--Very-dark-blue: hsl(212, 21%, 14%);
	--Dark-grayish-blue: hsl(228, 12%, 48%);
	--White: hsl(0, 0%, 100%);
	--Dark-cyan-hover: hsl(155, 43%, 18%);
	/*typography*/
	--family-montserrat:'Montserrat', sans-serif;
	--family-fraunces:'Fraunces', serif;
	/*montserrat weight 500, 700*/
	/*fraunces weight 500*/
}

/*-------- style global --------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	max-width: 1440px;
	min-width: 375px;
	margin: auto;
}

body {
	background-color: var(--Cream);
	font-size: 14px;
	padding: 0 1.25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	line-height: 1;
	margin-top: 1rem;
	font-family: var(--family-fraunces);
	font-size: 2rem;
}

p {
	margin-top:1rem;
	line-height: 1.5;
	font-family: var(--family-montserrat);
	font-size: 0.78125rem;
}

span,
p {
	color:var(--Dark-grayish-blue);
}
/*-------- clases --------*/

.container {
	max-width: 600px;
	background-color: var(--White);
	border-radius: 8px;
	overflow: hidden;
}

.block2 {
	padding: 1.75rem 1.625rem;
}

.background {
	width:100%;
	height: 240px;
	background-position: center;
	background-size: cover;
	background-image: url(images/image-product-mobile.jpg);
}

.perfume {
	font-family: var(--family-montserrat);
	text-transform: uppercase;
}

/*-------- prices --------*/

.prices {
	margin-top: 3.75rem;
	display: flex;
	align-items: center;
}

.big {
	margin-right: 1rem;
	font-size: 2rem;
	color: var(--Dark-cyan);
	font-family: var(--family-fraunces);
}

.strikethrough {
	text-decoration: line-through;
	font-family: var(--family-fraunces);
}


/*-------- btn --------*/

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--White);
	padding: 1rem;
	background-color: var(--Dark-cyan);
	border: none;
	width: 100%;
	border-radius: 8px;
	margin-top: 1rem;
	font-family: var(--family-montserrat);
	font-weight: 700;
	transition: all .5s;
}

.btn:hover {
	background-color: var(--Dark-cyan-hover);
}

.btn svg {
	margin-right: .5rem;
}

/*-------- atribution --------*/

.atribution {
	text-align: center;
}

/*-------- media querie --------*/

@media (min-width:  545px){

	p {
		font-size: .9rem
	}
	
	.container {
		display: flex;
	}

	.block2 {
		width: 50%;
	}

	.background {
		width: 50%;
		background-image: url(images/image-product-desktop.jpg);
		background-position: center;
		background-size: cover;
		height: 100%;
	}

	.big {
		margin-right: 1.3rem;
	}
}
